.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photo-entry-block{
    width:30%;
    margin-top:10px;
    padding-top:20px;
}
.photo-image{
width:80%;
height:200px;
}